/*homePagecss*/
@font-face {font-family: 'opensans-light';src: url('../fonts/OpenSans-Light.ttf');}
@font-face {font-family: 'opensans-bold';src: url('../fonts/OpenSans-Bold.ttf');}
@font-face {font-family: 'opensans-Regular';src: url('../fonts/OpenSans-Regular.ttf');}
body{overflow-y: scroll !important;height:auto;}
.fp-section.active{height: auto !important;}
.img-navbar-style{padding: 15px 0px 0px 0px;}
.container-custom{margin: -64px 0px 0px 35px;}
.margin-left-div{    margin-left: 115px;}
.navbar-custom {min-height: 55px !important;background: #34495e !important;box-shadow: 0px 0px 0px 4px #e2b22f !important;border-color: #34495e !important;}
.navbar-brand-custom {color: white !important;font-size: 20px !important;margin-top: 15px !important;margin-bottom: 15px !important;}
.footer-custom {background: #34495e !important;border-color: #34495e !important;min-height: 55px !important;}
.first-div-style{font-family: 'opensans-light';color: #ececed;line-height: 0.76em;font-size: 0.75em;margin-top: 10px;}
.margin-top-10px {margin-top: 10px;}
.footer-p{color: #ececed;width: 114px;font-size: smaller;line-height: 11px;margin-top: 13px;}
.page {width: 100vw;height: 100vh;-webkit-transition: margin 0.3s;margin-left: 100vw;position: absolute;display: inline-block;}
.welcome-style{margin-top:100px;margin-left: 120px;}
 .firstp{font-family: 'opensans-bold';font-size: 1.75em;color: #34495e;line-height: 0.76em;margin-bottom: 40px;}
.secondp{font-family: 'opensans-Regular';font-size: 1em;color: #666666;line-height: 1.21em;margin-bottom: 40px;letter-spacing: 0.5px;}
.hr1{background: #eaeaea !important;margin-top: 50px !important;margin-bottom: 35px !important;}
.hr2{background: #eaeaea !important;margin-top: 24px !important;margin-bottom: 24px !important;}
.secondp{font-family: 'opensans-Regular';font-size: 1em;color: #666666;line-height: 1.21em;letter-spacing: 0.5px;}
.orange-div{font-family: 'opensans-Regular';font-size: 0.88em;color: #f09f59;line-height: 0.71em;letter-spacing: 0.5px;margin-bottom: 22px;}
.page {width: 100vw;height: 100vh;-webkit-transition: margin 0.3s;margin-left: 100vw;position: absolute;display: inline-block;}
/*GallaryPagecss*/
.section {position: relative;}
/*Absolute in relation to the section*/
#moveRight {z-index: 999;font-size: 1em;cursor: pointer;}
.gallary-top{margin: 38px 0px 0px 120px;}
.img-grid{margin: 0px 0px 0px 120px;}
.img-gallary{font-family: 'opensans-bold';font-size: 1.75em;color: #34495e;line-height: 0.76em;}
.img-container{border: 1px solid #999999;box-shadow: 3px 3px 3px #000000;position: relative;}
input[type="checkbox"]{position: absolute;margin-left:-15px;visibility: hidden;}
#whatever{float: none;margin: 0 auto;display: block;}
#whatever div{float:left;display: inline-block;}
.whatever-main-div{margin:25px 0px 0px 105px;}
.hr2{margin-top: 24px !important;}
.firstgallaryp{font-family: 'opensans-bold';font-size: 1.75em;color: #34495e;line-height: 0.76em;}
.secondgallaryp{font-family: 'opensans-Regular';font-size: 1em;color: #666666;line-height: 1.21em;letter-spacing: 0.5px;}
/*pagelayoutcss*/
.span-style{margin: 25px 0px 0px 119px;}
.margin-left div{float: left;margin: 0px 28px 20px 0px;display: inline-block;}
.my-btn-style{background-color: gray !important;border: 1px solid gray !important;}
/*border on hover*/
.classImgGallery {color: blue;height: 270px;width: 270px;}
.img-style-one {border: 5px solid blue;}
/*grid stack style*/
.grid-stack{background: white;}
.grid-stack-item-content{text-align: center;}
